.Footer {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    margin: 0 auto;
    width: 95%;
    height: 100%;
    gap: 10px 10px;
    background-color: #315241;
    ;

}


.Section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-color: #315241;


}


.Ft-content1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    border-radius: 8px;
    width: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;



}

.Ft-content1 h1 {
    text-align: left;
    word-wrap: break-word;
    font-size: 1.2rem;
    margin: 0 auto;
}

.logof {
    width: 100%;
    height: 70%;
    object-fit: contain;
    margin-right: 60px;


}

.logof:hover {
    /* //Sombra iluminada (desplazamiento en x, desplazamiento en y, grosor de la sombra, color) */
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.8));
}

.info-contacto-foot {
    display: block;
    margin: 5px auto;

    width: 100%;

}