.btn-comprar {
    font-family: 'quicksand', 'sans-serif';
    font-weight: 500;
    font-size: 20px;
    padding: 18px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #256ccc;
    color: white;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    letter-spacing: 2px;


}

.btn-comprar:hover {
    background-color: #0c1e36;
    color: rgb(255, 255, 255);
    box-shadow: 4px 6px 12px rgba(159, 163, 193, 0.681);
    transform: translateY(-2px);
}